extends layout

block content
  h1 Prizes list
  table.table.table-hover
    thead
      tr
        th Units
        th Title
        th Description
        th Prize
        th Coin
        th
    tbody
      each prize, i in prizes
        tr
          td #{prize.units}
          td #{prize.title}
          td #{prize.description}
          td #{prize.prize}
          td #{prize.coin}
          td
            a.btn.btn-danger.btn-xs(type='button', href='/removePrize/#{prize._id}')
              span.glyphicon.glyphicon-remove(aria-hidden='true')
            